@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin nav {
    @include flex-row;
    align-items: center;
    gap: 0 2rem;
    flex: 1;
}

@mixin logo {
    position: relative;
    width: clamp(3em, 10vw, 4em);
    height: clamp(3em, 10vh, 4em);
}