.dialog {
    margin: 25vh auto;
    background-color: rgb(155 155 155 / 90%);
    color: white;
    width: max(30em, 33vw);
    border-radius: 5%;
    border-style: groove;
    border-color: #a5a5a5;

    &::backdrop {
        background: rgb(0 0 0 / 50%);
    }

    &__close {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        background-color: transparent;
        border-style: none;
        padding: 0;
        margin: 2px;
        font-size: 1.5em;
        color: white;
    }
}

.aviicon {
    border: 2px outset;
    flex-shrink: 0;
}

.aviicon-null {
    border: 2px dashed;
    background-color: black;
}

.aviicon-small {
    width: 32px;
    height: 32px;
}

.aviicon-big {
    width: 48px;
    height: 48px;
}