.aviicon {
    border: 2px outset;
}

.aviicon-null {
    border: 2px dashed;
    background-color: black;
}

.aviicon-small {
    width: 32px;
    height: 32px;
}

.aviicon-big {
    width: 48px;
    height: 48px;
}