.dialog {
    background-color: rgb(110 110 110 / 90%);
    color: white;
    width: max(20em, 33vw);
    border-radius: 5%;
    border-style: groove;
    border-color: #a5a5a5;

    &::backdrop {
        background: rgb(0 0 0 / 50%);
    }
}

.aviicon {
    border: 2px outset;
    flex-shrink: 0;
}

.aviicon-null {
    border: 2px dashed;
    background-color: black;
}

.aviicon-small {
    width: 32px;
    height: 32px;
}

.aviicon-big {
    width: 48px;
    height: 48px;
}