@import "mixins";

.commentsection-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: fit-content;
}

.comments-heading {
    text-shadow: white -10px 0px 10px, white 10px 0px 10px;
}

.comments-container {
    display: flex;
    flex-direction: column;
}

.mycomment {
    overflow-x: hidden;
    width: clamp(10rem, 75vw, 42rem);
}

.mycomment-form {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    align-items: stretch;
    background-color: white;
    border-radius: 0.25rem;

    &:focus-within {
        outline: 1px solid gray;
    }
}

.mycomment-comment {
    flex-grow: 2;
    border: none;
    padding: 0.25rem;
    margin-bottom: 1rem;
    font-family: inherit;
    border-radius: 0.25rem;

    &:focus {
        outline: none;
    }
}

.mycomment-chars {
    position: absolute;
    left: 0.25rem;
    bottom: 0;
    font-size: 0.75em;
    color: #6E6E6E;
    font-style: italic;

    &--toolong {
        color: red;
    }
}

.mycomment-submit {
    width: auto;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;

    &:hover:enabled {
        .mcs-text {
            transform: translateX(0.2em);
        }
    }
}

.mcs-text {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
}

.clist-ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.clist-li {
    list-style-type: none;
    width: 100%;
}

// consists of: avatar, comment
.comment-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
}

.c-comment {
    font-size: 1em;
}

.c-timesincecomment {
    font-size: 0.75em;
    color: #7B7B7B;
}

.c-options {
    display: flex;
    flex-direction: row;
}

.c-delete {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.c-deletebtn {
    @include fanciful-btn(44px, 57px, linear-gradient(180deg, #FF3D3D 0%, #F44 100%));
}


// Replace with visually-hidden class in ./Upload.modules.css
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media screen and (min-width: 744px) {
    .mycomment {
        width: clamp(10rem, 75vw, 21rem);
    }
}