@import "mixins";

.fl-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.25rem;
    align-items: center;
    width: fit-content;


    &__left {
        justify-content: left;
    }
}

.fl-text {
    color: #6E6E6E;
    font-size: 0.875em;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 10%;
        left: 0;
        height: 7px;
        width: 100%;
        background-color: #82FC8F;
        border-radius: 50%;
        filter: blur(4px);
        z-index: -1;
    }
}

.fl-btn {
    @include circle-btn(1.5rem);
}