@import "mixins";

.fl-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.25rem;
    align-items: center;
    width: fit-content;

    &:hover {
        .fl-text::before {
            transform: scaleY(2);
            filter: blur(2px);
        }
    }

    &__left {
        justify-content: left;
    }


}

.fl-text {
    color: #6E6E6E;
    font-size: 0.875em;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 10%;
        left: 0;
        height: 7px;
        width: 100%;
        background-color: #82FC8F;
        border-radius: 50%;
        filter: blur(4px);
        z-index: -1;
        transition: transform 0.2s, filter 0.2s;
    }
}

.fl-btn {
    @include circle-btn(1.5rem);
    user-select: none;

    &--white {
        @include circle-btn(1.5rem, rgb(149 149 149 / 50%))
    }
}

.fl-text--white {
    color: white;
    font-size: 0.875em;
    position: relative;
    text-shadow: 0px 0px 4px white;

    &::before {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        height: 7px;
        width: 100%;
        background-color: black;
        border-radius: 50%;
        filter: blur(4px);
        z-index: -1;
    }
}