@use "variables";
@import "mixins";

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0000001f;
    padding: 0 0.5rem;
    margin: auto 0.5rem 0.5rem;
    gap: 0 min(10vw, 1rem);
    margin-top: auto;
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
    text-transform: lowercase;
    min-width: 320px;
    margin-bottom: 0.5rem;
}

.extlogo {
    display: flex;
    flex-direction: row;
    padding-top: 4px;

    &__l {
        @include logo;
    }

    &__r {
        @include logo;
        margin-left: -16px;
        transform: rotate(180deg);
    }
}

.links {
    display: flex;
    align-items: center;
    align-content: center;
    gap: min(10vw, 1rem);
    flex-wrap: wrap;
    height: 100%;
}

.footer-link {
    color: variables.$gg-text;

    &:hover {
        text-decoration: underline;
    }
}