@use "variables";

$min-btn-radius: 15rem;
$max-btn-radius: 20rem;

.hp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-shadow:
        white -10px 0px 10px,
        white 10px 0px 10px,
}

.headline {
    margin: 0;
    font-size: 4em;
    overflow-wrap: break-word;
}

// basically match tg font to regular font size
.tg-font {
    font-size: 1.25em;
}

// emphasize tg font
.tg-font-emph {
    font-size: 1.5em;
    overflow-wrap: break-word;
}

.features {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin: 0;
    padding: 0 1em;
    list-style: none;
    text-shadow:
        white -2px 0px 2px,
        white 2px 0px 2px;
}

.feature {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
    width: 13em;

    &__heading {
        text-transform: uppercase;
    }
}

.link {
    transition: opacity 0.2s;

    &:hover &__btn {
        // top to bottom
        text-shadow:
            -2em -2em 2px black,
            2em -1em 4px black,
            -2em 1em 8px black,
            2em 2em 16px black;
    }

    &:active {
        opacity: 0.5;
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 16px;
        margin: 3rem;
        padding: 2rem;
        color: black;
        background-color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        box-shadow:
            white 0 0 2em 1em,
            white 0 0 2em 1em,
            white 0 0 2em 1em,
            white 0 0 2em 1em;
        transition: text-shadow 1s;
    }




}

@keyframes up-n-down {
    from {
        transform: translateY(0rem);
        // background-position: 0 0;
    }

    to {
        transform: translateY(2rem);
        // background-position: 100rem 100rem;
    }
}