@import "mixins";

$font-white: #FFFFFF;

.header {
    @include flex-row;
    padding: 0 2rem;
    align-items: center;
    gap: 0 max(1rem, 5%);
}

.header-logo {
    @include logo;
}

.nav {
    @include nav;
}

.guestnav {
    @include nav;
    justify-content: space-between;
}

.nav-link {
    font-size: clamp(0.75em, 90%, 1.25em);
    color: $font-white;
}