@use "variables";
@import "mixins";

$white: #FFFFFF;

.nav {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.all-flow {
    @include subnav;
}

.user-flow {
    @include subnav;
    padding-top: 1rem;
}

.logo {
    @include logo;
    color: variables.$gg-text;
    // &--guest {

    // }
}

.nav-link {
    display: flex;
    padding: 0;
    border: 3px solid transparent;
    flex-direction: row;
    align-items: center;
    font-size: 2.5em;
    text-transform: uppercase;
    color: inherit;
}

.nav-text {
    &:hover {
        border-bottom: 3px solid $white;
    }
}