@import "mixins";

.profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    // height: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: 0;

    &__heading {
        margin: 0;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin: 0;
        padding: 0;
    }
}

.link {
    &__li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.25em;
    }
}

.edit-url {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-text {
    display: flex;
    flex-direction: column;
}

.edit-warning {
    color: red;
}

.profile__btns {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.input {
    // width: 100% prevents overflow
    width: 100%;
    font-size: 1em;

    // &__text {
    //     width: 33%;
    // }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    &__btns {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
    }
}

.user-id {
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    @include fanciful-btn(44px, 57px, linear-gradient(180deg, #818181 0%, #171717 100%));
    width: fit-content;
    font-size: 1em;

    &__red {
        @include fanciful-btn(44px, 57px, linear-gradient(180deg, #FF3D3D 0%, #F44 100%));
        width: fit-content;
        font-size: 1em;
    }

    &__save-links {
        @include fanciful-btn(44px, 57px, linear-gradient(180deg, #0d57118f 0%, rgb(0 255 27) 100%));
        font-size: 1em;
    }
}

// flex changes default properties of hr
.divider {
    margin: 0;
}

.fitcontent {
    width: fit-content;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}