@use "variables";

.textpage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(0.5rem, 90vw, 45rem)
}

.h2 {
    text-transform: lowercase;
    color: variables.$gg-text;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
}

.ol {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding-left: 1rem;
    counter-reset: ol;
}

.li {
    counter-increment: ol;
}