.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: #2c2c2c;

    &__text {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-left: -6em;
        visibility: hidden;
        width: 12em;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 8px;
        padding: 0.5em;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 46%;
            margin-left: auto;
            border-width: 8px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }

    &:hover &__text {
        visibility: visible;
    }
}