@use "variables";
@import "mixins";

.upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6E6E6E;
    gap: 1rem;
}

// TODO: same as in Accessflow; globalize?
.upl-h2 {
    text-transform: lowercase;
    color: variables.$gg-text;
    text-shadow: 1px 1px 2px black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__btn-submit {
        @include circle-btn(6rem);
        margin: 0 auto;
        font-size: 1rem;
    }
}

.file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__btn {
        @include circle-btn(6rem, rgba(255, 255, 255, 0.5));
        cursor: pointer;
    }

    &__name {
        font-size: 0.875em;
        min-height: 1.2em;
        width: 20em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.reqs {
    font-size: 0.875em;

    &__ul {
        margin: 0;
        // &__li {

        // }
    }
}

.genre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &__select {
        @include fanciful-btn(44px, 57px, linear-gradient(180deg, #0075FF 0%, #86BDFF 100%));
        position: relative;
        font-size: 1rem;
    }

    &__option {
        background-color: grey;
    }
}

.record {
    &__btn {
        @include circle-btn(6rem, rgba(255, 52, 52, 1));
        margin: 0 auto;
        font-size: 1rem;
    }

    &__time {
        min-height: 1.2em;
    }
}

.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    // &__label {

    // }

    &__audio {
        height: 2em;

        &::-webkit-media-controls-enclosure {
            border-radius: 0;
        }
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}