/* If different CSS is desired for another component, name that file 
"[ComponentName].module.css" */
html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

a {
  color: grey;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}