/* If different CSS is desired for another component, name that file 
"[ComponentName].module.css" */
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  background-color: black;
  color: white;
  /*animation: 5s infinite alternate bg;*/
}

@keyframes bg {
  from {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(43, 6, 14, 1) 72%, rgba(61, 10, 10, 1) 100%);
  }

  to {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(43, 6, 14, 1) 72%, rgba(61, 10, 10, 1) 100%);
  }
}

a {
  color: grey;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button:not([type]),
button[type="submit"] {
  background-color: transparent;
  width: 256px;
  height: 32px;
  color: white;
  border: 1px solid white;
  border-radius: 4%;
  border-radius: 20px;
}

button:hover {
  cursor: pointer
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

input:not([type]),
input[type=email],
input[type=password] {
  background-color: white;
  width: 256px;
  height: 48px;
  color: gray;
  padding: 0 8px;
}

input[type=text] {
  padding: 2px;
  width: 512px;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  gap: 8px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}