.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navListElem {
    float: left;
    padding: 24px 32px;
    /* MATCH1 */
    font-size: 20px;
}

.navListElem:last-child {
    float: right;
}

.navListLink {
    display: block;
    color: black;
    letter-spacing: 1px;
}

.btn {
    padding: 0;
    border: none;
    background: none;
    /* MATCH1 */
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
}

.btn:hover {
    cursor: pointer;
}